.rct a.icon-button {
    cursor: pointer;
}

.rct a.icon-button.no-side-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.rct a.icon-button svg {
    fill: #4F5D75 !important;
    vertical-align: middle;
}

.rct a.icon-button svg:hover {
    fill: rgb(0, 136, 169) !important;
}

.rct a.icon-button.disabled svg,
.rct a.icon-button.disabled svg:hover {
    fill: #c4cdd6 !important;
    cursor: auto;
}